<ion-title>CONFIGURACIONES</ion-title>

<ion-card color="primary">
  <ion-card-header>
    <ion-card-title>Editar datos personales</ion-card-title>
    <ion-card-subtitle>Presione aquí</ion-card-subtitle>
  </ion-card-header>


</ion-card>

<ion-card color="secondary">
  <ion-card-header>
    <ion-card-title>Cambiar el idioma</ion-card-title>
    <ion-card-subtitle>Presione aquí</ion-card-subtitle>
  </ion-card-header>

</ion-card>

<ion-card color="primary">
  <ion-card-header>
    <ion-card-title>Seguridad</ion-card-title>
    <ion-card-subtitle>Presione aquí</ion-card-subtitle>
  </ion-card-header>


</ion-card>

<ion-card color="secondary">
  <ion-card-header>
    <ion-card-title>Contactanos</ion-card-title>
    <ion-card-subtitle>Presione aquí</ion-card-subtitle>
  </ion-card-header>


</ion-card>

<ion-card color="primary">
  <ion-card-header>
    <ion-card-title>Solicitar ayuda</ion-card-title>
    <ion-card-subtitle>Presione aquí</ion-card-subtitle>
  </ion-card-header>


</ion-card>

